@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@using Umbraco.Cms.Core.Models
@using Umbraco.Extensions
@using Umbraco.Cms.Core.Models.PublishedContent

@{
    var settings = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "companySettings");

    if (settings == null)
    {
        return; // Dừng lại nếu không tìm thấy cài đặt
    }

    var companyName = settings.Value<string>("companyName") ?? "Viet Thang Loi Technology Company Limited";
    
    // Lấy logo từ Multi Picker, chỉ lấy item đầu tiên
    var websiteLogoLight = settings.Value<IEnumerable<IPublishedContent>>("websiteLogoLight")?.FirstOrDefault();
    var websiteLogoDark = settings.Value<IEnumerable<IPublishedContent>>("websiteLogoDark")?.FirstOrDefault();
}

<header class="bg-white text-gray-800 dark:bg-dark dark:text-slogan shadow-xl py-4 px-6 flex justify-between items-center sticky top-0 z-50">
    <div class="flex items-center">
        @if (websiteLogoLight != null)
        {
            <a href="/" title="@companyName" class="focus:outline-none">
                <img src="@websiteLogoLight.Url()" alt="@companyName logo" class="h-10 w-auto light-mode-logo">
                @if (websiteLogoDark != null)
                {
                    <img src="@websiteLogoDark.Url()" alt="@companyName logo" class="h-10 w-auto dark-mode-logo hidden">
                }
            </a>
        }
    </div>
    @await Html.PartialAsync("Partials/Shared/Navigation")
</header>