@using Umbraco.Cms.Core.Models.PublishedContent
@model IEnumerable<IPublishedContent>

@{
    var keyShort = ViewData["KeyShort"]?.ToString() ?? "";
}

@if (Model != null && Model.Any())
{
    var img = Model.FirstOrDefault();
    <div class="w-full flex-shrink-0 aspect-[16/9] overflow-hidden group">
        <img src="@img.Url()" alt="@img.Name" class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105 dark:group-hover:brightness-110" loading="lazy" />
    </div>
}
else
{
    <p class="text-muted small">Không có hình ảnh nào.</p>
}
