@model IEnumerable<Umbraco.Cms.Core.Models.Link>

@{
    // Nhận tham số 'fileType' từ ViewData, mặc định là rỗng
    var fileType = ViewData["fileType"] as string;
    var isPdf = fileType == "Pdf";
}

<ul class="space-y-2">
    @foreach (var link in Model)
    {
        var url = link.Url;
        var name = link.Name;
        var target = link.Target;

        <li class="hover:text-primary transition-colors flex items-center gap-2">
            @if (isPdf)
            {
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-red-500" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M2.5 13.5h10V21h-10c-.827 0-1.5-.673-1.5-1.5v-6c0-.827.673-1.5 1.5-1.5zM12.5 13.5h9c.827 0 1.5.673 1.5 1.5v6c0 .827-.673 1.5-1.5 1.5h-9v-9zM2.5 3h10v9h-10c-.827 0-1.5-.673-1.5-1.5v-6c0-.827.673-1.5 1.5-1.5zM12.5 3h9c.827 0 1.5.673 1.5 1.5v6c0 .827-.673 1.5-1.5 1.5h-9v-9z"/>
                </svg>
            }
            else
            {
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            }

            <a href="@url" target="@target">@name</a>

            @if (isPdf)
            {
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                </svg>
            }
        </li>
    }
</ul>