@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Extensions

@{
    var content = Model.Content as LinkList;
    var title = content?.Title;
    var description = content?.Description;
    var links = content?.Links;
    var fileType = content?.FileType;
}
<section class="my-8 ">
    @if (!string.IsNullOrWhiteSpace(title))
    {
        <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2">@title</h2>
    }
    
    @if (!string.IsNullOrWhiteSpace(description))
    {
        <p class="text-gray-600 dark:text-gray-300 mb-4">@Html.Raw(description?.Replace("\r\n", "<br/>").Replace("\n", "<br/>"))
        </p>
    }

    @if (links?.Any() == true)
    {
        var partialViewData = new ViewDataDictionary(ViewData);
        if (!string.IsNullOrWhiteSpace(fileType))
        {
            partialViewData.Add("fileType", fileType);
        }

        @Html.Partial("Partials/Shared/LinkList", links, partialViewData)
    }
</section>