@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;    
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    @await Html.PartialAsync("Partials/Shared/Seo")    
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Head", required: false)
</head>
<body class="bg-white text-gray-800 dark:bg-dark dark:text-slogan font-sans">
    @await Html.PartialAsync("Partials/Shared/Topbar")
    @await Html.PartialAsync("Partials/Shared/Header")
    <main class="pb-10">
        @RenderBody()
    </main>
    @await Html.PartialAsync("Partials/Shared/Footer")
    <script src="~/Scripts/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>